<h1 class="site-heading text-center text-white d-none d-lg-block">
	<span class="site-heading-upper text-primary mb-3 heading">Conspiracy Cuisine</span>
	<span class="site-heading-lower heading">Home Of The Bombastic Brownie</span>
</h1>

<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
	<div class="container">
		<a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Conspiracy Cuisine</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item px-lg-4">
					<a class="nav-link text-uppercase text-expanded" href="/">Home
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item px-lg-4">
					<a class="nav-link text-uppercase text-expanded" href="/about">About</a>
				</li>
				<li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Products
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/cakes">Cakes</a>
          <a class="dropdown-item" href="/cookies">Cookies</a>
          <a class="dropdown-item" href="/muffins">Muffins</a>
        </div>
      </li>
			</ul>
		</div>
	</div>
</nav>

<div class="card-deck">
<div class="card">
	<img class="card-img-top" src=<%= @bob_marley_brownie.image %> alt="Card image cap">
	<div class="card-body">
		<h5 class="card-title"><%= @bob_marley_brownie.name %></h5>
		<p class="card-text"><%= @bob_marley_brownie.description %></p>
	</div>
	<div class="card-footer">
		<small class="text-muted"><%= "$" + @bob_marley_brownie.price.to_s %></small>
	</div>
</div>
<div class="card">
	<img class="card-img-top" src=<%= @tupac_lives_cheesecake.image %> alt="Card image cap">
	<div class="card-body">
		<h5 class="card-title"><%= @tupac_lives_cheesecake.name %></h5>
		<p class="card-text"><%= @tupac_lives_cheesecake.description %></p>
	</div>
	<div class="card-footer">
		<small class="text-muted"><%= "$" + @tupac_lives_cheesecake.price.to_s %></small>
	</div>
</div>
<div class="card">
	<img class="card-img-top" src=<%= @juicy_fruit_kake.image %> alt="Card image cap">
	<div class="card-body">
		<h5 class="card-title"><%= @juicy_fruit_kake.name %></h5>
		<p class="card-text"><%= @juicy_fruit_kake.description %></p>
	</div>
	<div class="card-footer">
		<small class="text-muted"><%= "$" + @juicy_fruit_kake.price.to_s %></small>
	</div>
</div>
</div>
